<form action="http://submarine2.herokuapp.com/" method="post">
  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input class="form-control" id="name">
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="message" class="form-label">Message (optional)</label>
    <textarea class="form-control" id="message" rows="5"></textarea>
  </div>
  <button type="submit" name="submit" class="btn btn-primary">Subscribe</button>
</form>
