body {
  font-family: "Josefin Sans";
}

ul {
  list-style-type: "▸  ";
}

img {
  display: block;
}

.concert ul {
  list-style-type: none;
}

.composer-name {
  font-weight: 400;
}

blockquote {
  padding-left: 50px;
}

.prose a {
  color: currentColor;
  font-weight: 500;
  text-decoration: none;
}

.prose a:hover,
.prose a:focus {
  text-decoration: underline;
}

.home__bg {
  display: none;
}

.home__image {
  height: auto;
  width: 100%;
}

.home__prose {
  color: var(--bs-body-color);
  font-weight: 300;
  font-size: 1.2rem;
  max-width: 65ch;
  margin: 0 auto;
  padding-top: 2rem;
}

@media (min-width: 992px) {
  .home__container {
    min-height: 75vh;
  }

  .home__image {
    display: none;
  }

  .home__bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 33%;
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .home__content {
    background: rgb(95, 89, 91, 0.5);
    flex: 0 0 auto;
    margin-left: 50%;
    position: relative;
    width: 50%;
    z-index: 2;
  }

  .home__prose {
    color: var(--bs-white);
    max-width: 50ch;
    padding: 2rem;
  }
}

@media (min-width: 1200px) {
  .home__bg {
    background-position-x: 25%;
  }
}
