/* Global */
html,
body {
  min-height: 100vh;
}

@media (min-width: 576px) {
  html {
    background: url("../img/background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

body {
  background: transparent;
  display: grid;
  font-family: "Josefin Sans";
  grid-template-rows: 1fr;
}

/* Custom properties */
:root {
  --fixed-nav-gap: 67px;
}

@media (min-width: 992px) {
  :root {
    --fixed-nav-gap: 7rem;
  }
}

@media (min-width: 1200px) {
  :root {
    --fixed-nav-gap: 5rem;
  }
}

/* Home page */
.home {
  background-color: white;
}

.home__bg {
  display: none;
}

.home__image {
  height: auto;
  width: 100%;
}

.home__prose {
  color: var(--bs-body-color);
  font-size: 1.2rem;
  font-weight: 300;
  margin: 0 auto;
  max-width: 65ch;
  padding-top: 2rem;
}

@media (min-width: 992px) {
  .home__container {
    min-height: 75vh;
  }

  .home__image {
    display: none;
  }

  .home__bg {
    background-position-x: 33%;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    display: flex;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  .home__content {
    background: rgb(95, 89, 91, 0.5);
    flex: 0 0 auto;
    margin-left: 50%;
    position: relative;
    width: 50%;
    z-index: 2;
  }

  .home__prose {
    color: var(--bs-white);
    max-width: 50ch;
    padding: 2rem;
  }
}

@media (min-width: 1200px) {
  .home__bg {
    background-position-x: 25%;
  }
}

/* Inner pages */
.page__container {
  background-color: var(--bs-white);
  min-height: 100%;
  position: relative;
}

.page__container::before {
  background-color: var(--bs-danger);
  content: "";
  height: 100%;
  left: 0.375rem;
  position: absolute;
  top: 0;
  width: 2px;
  z-index: 891011;
}

.page__container::after {
  background-color: var(--bs-danger);
  content: "";
  height: 100%;
  position: absolute;
  right: 0.375rem;
  top: 0;
  width: 2px;
  z-index: 891011;
}

.page__content {
  font-weight: 300;
  margin: 0;
  min-height: 100%;
  padding: 72px 0 3rem;
  position: relative;
}

@media (min-width: 576px) {
  .page__content {
    padding-top: var(--fixed-nav-gap);
  }
}

@media (min-width: 767px) {
  .page__content {
    padding-top: calc(var(--fixed-nav-gap) + 1.5rem);
  }
}

@media (min-width: 767px) {
  .page__image-container {
    position: sticky;
    top: var(--fixed-nav-gap);
  }
}

@media (max-width: 992px) {
  .page__image {
    aspect-ratio: 1;
    margin-bottom: 1.5rem;
    object-fit: cover;
    object-position: top;
  }
}

.navbar {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0;
}

.navbar::before {
  background-color: var(--bs-danger);
  bottom: 7px;
  content: " ";
  height: 2px;
  position: absolute;
  right: 0;
  width: 38%;
  z-index: 1;
}

.navbar::after {
  background-color: var(--bs-danger);
  bottom: 0;
  content: " ";
  height: 2px;
  position: absolute;
  right: 0;
  width: 28%;
}

.navbar > .container {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  position: relative;
}

.navbar > .container::after {
  background-color: white;
  bottom: 0;
  content: "";
  height: 100%;
  left: 14px;
  position: absolute;
  width: calc(100% - 28px);
  z-index: -1;
}

.navbar-brand {
  font-weight: 300;
  line-height: 1;
  padding: 0.25rem 0 0;
  text-transform: uppercase;
}

.home__container {
  margin-top: var(--fixed-nav-gap);
  position: relative;
}

@media (min-width: 576px) {
  .navbar-brand {
    font-size: 2rem;
    padding-top: 0.33rem;
  }

  .home__container {
    margin-top: var(--fixed-nav-gap);
  }
}

@media (min-width: 992px) {
  .navbar > .container {
    padding-bottom: 0.5rem;
    padding-top: 1rem;
  }

  .navbar > .container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .navbar-brand {
    padding-bottom: 0.5rem;
    padding-top: 0.125rem;
  }
}

@media (min-width: 1200px) {
  .navbar > .container {
    padding-bottom: 1rem;
  }

  .navbar-brand {
    padding-bottom: 0;
  }
}

.navbar-toggler {
  margin-bottom: 0.5rem;
}

/* Content */
.content__prose details {
  margin-bottom: 1.5rem;
}

.content__prose summary {
  font-weight: 500;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.content__prose summary:hover,
.content__prose summary:focus {
  text-decoration: underline;
}

.content__prose iframe {
  aspect-ratio: 16 / 9;
  height: 100%;
  max-width: 560px;
  width: 100%;
}

.content__prose ul {
  list-style-type: "▸  ";
}

.content__prose img {
  display: block;
}

.content__prose .concert ul {
  list-style-type: none;
}

.content__prose .composer-name {
  font-weight: 400;
}

.content__prose blockquote {
  padding-left: 50px;
}

.content__prose a {
  color: currentColor;
  font-weight: 500;
  text-decoration: none;
}

.content__prose a:hover,
.content__prose a:focus {
  text-decoration: underline;
}

.content__prose .repertoire-list {
  list-style: none;
}
