body {
  font-family: "Josefin Sans";
  font-weight: 300;
}

p {
  text-align: justify;
}

ul {
  list-style-type: "▸  ";
}

img {
  display: block;
}

.main-image {
  position: sticky;
  top: 134px;
}

#home {
  position: relative;
  display: inline-block;
}

#home .section-1 {
  position: absolute;
  top: 0%;
  left: 70%;
  text-align: right;
  color: white;
  font-size: 1.2rem;
  padding-top: 2rem !important;
  padding-right: 2rem;
}

#home .section-1 a {
  color: white;
  font-weight: 400;
}

.concert ul {
  list-style-type: none;
}

.composer-name {
  font-weight: 400;
}

blockquote {
  padding-left: 50px;
}

.prose a {
  color: black;
  font-weight: 400;
}
