{% if title %}
<h1>
        {{ title }}
        {% if subtitle %}
        <small>{{ subtitle }}</small>
        {% endif %}
</h1>
{% endif %}

{% for section in sections %}
  <div class="section py-3 {{ section.section_id }}">
    {% if section.subtitle %}
      <h2>{{ section.subtitle }}</h2>
    {% endif %}

    {% if section.header %}
      <p>{{ section.header }}</p>
    {% endif %}

    {% include section.template %}

    {% if section.footer %}
      <p>{{ section.footer }}</p>
    {% endif %}
  </div>
{% endfor %}
