{% if title %}
<h1>
        {{ title }}
        {% if subtitle %}
        <small>{{ subtitle }}</small>
        {% endif %}
</h1>
{% endif %}

{% for section in sections %}
  <div id="content" class="content__prose section {{ section.section_id }}">
    {% if section.subtitle %}
      <h2{% if section.id %} id="{{ section.id }}"{% endif %}>{{ section.subtitle }}</h2>
    {% endif %}

    {% if section.header %}
      <p>{{ section.header }}</p>
    {% endif %}

    {% include section.template %}

    {% if section.footer %}
      <p>{{ section.footer }}</p>
    {% endif %}
  </div>
{% endfor %}
