{% extends "base.html" %}
{% load static %}

{% block content %}
{% include "nav.html" %}

<div class="container-fluid pt-2">
  <div class="row">
    <div class="position-relative home__container">
    <div class="home__bg" style="background-image: url('{% static main_image %}')"></div>
    <img src="{% static main_image %}" class="home__image" />
    <div class="container">
      <div class="home__content">
        <main class="home__prose">
          {% include "content.html" %}
        </main>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
