{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid px-5">
  {% include "nav.html" %}

  <div id="home" class="w-100">
    <img src="{% static 'img/IMG_0190_03.jpg' %}" class="w-100" />
    <div class="news pt-5 pr-5">
        <p class="pb-3">
          Clare is delighted to announce that she has just signed with
          agency
          <a
            href="https://www.rayfieldallied.com/artists/clare-hammond"
            target="_blank"
            >Rayfield Allied</a
          >
          for general management.
        </p>

        <p class="pb-3">
          This autumn, Clare performs Montgeroult at the
          <a
            href="https://bru-zane.com/en/evento/la-marchesa-del-pianoforte/#"
            target="_blank"
            >Palazzetto Bru Zane</a
          >
          in Venice, appears at the
          <a
            href="https://lichfieldfestival.org/event/clare-hammond-piano/"
            target="_blank"
            >Lichfield Festival</a
          >, and revisits
          <a href="ghosts.html" target="_blank">Ghosts &amp; Whispers</a>.
          Find more live concerts
          <a href="concerts.html" target="_blank">here</a>.
        </p>

        <p class="pb-3">
          Watch Clare at the
          <a
            href="https://www.youtube.com/watch?v=kMK5drwmAuQ"
            target="_blank"
            >Wigmore Hall</a
          >
          in May and listen out for her performance of
          <a
            href="https://www.harrisonparrott.com/artists/samy-moussa"
            target="_blank"
            >Samy Moussa</a
          >'s <em>Orpheus</em> with the
          <a href="https://www.bbc.co.uk/symphonyorchestra" target="_blank"
            >BBC Symphony Orchestra</a
          >
          and
          <a href="https://www.geoffreypaterson.co.uk/" target="_blank"
            >Geoffrey Paterson</a
          >
          on Radio 3 soon!
        </p>

        <p class="pb-3">
          <a href="http://clarehammond.com/variations" target="_blank"
            >Variations</a
          >
          has been praised as "dazzling" (<a
            href="https://www.theguardian.com/music/2021/feb/27/rachmaninov-symphony-no-1-symphonic-dances-philadelphia-orchestra-nezet-seguin-review-clare-hammond-variations-sco-listen-lunchtime-scottish-chamber"
            target="_blank"
            >The Observer</a
          >) and "of immense power" (<a
            href="https://www.thetimes.co.uk/article/clare-hammond-variations-review-formidable-technique-68kccbtz0"
            target="_blank"
            >The Times</a
          >). Clare's associated tour of
          <a href="http://clarehammond.com/teaching.html" target="_blank"
            >schools</a
          >
          and
          <a href="http://clarehammond.com/prisons.html" target="_blank"
            >prisons</a
          >
          is currently underway.
        </p>
    </div>
  </div>
</div>
{% endblock %}
