<nav class="navbar navbar-expand-lg navbar-light sticky-top px-0 py-2">
  <a class="navbar-brand" href="#">CLARE HAMMOND</a>

  <ul class="navbar-nav ml-auto">
    <li class="nav-item mx-2">
      <a class="nav-link" href="#">BIOGRAPHY</a>
    </li>
    <li class="nav-item mx-2">
      <a class="nav-link" href="#">CONCERTS</a>
    </li>
    <li class="nav-item dropdown mx-2">
      <a
        class="nav-link"
        href="#"
        role="button"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        REPERTOIRE
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Concerto</a>
        <a class="dropdown-item" href="#">Solo</a>
        <a class="dropdown-item" href="#">Chamber</a>
        <a class="dropdown-item" href="#">Contemporary</a>
        <a class="dropdown-item" href="#">Sample programmes</a>
      </div>
    </li>
    <li class="nav-item mx-2">
      <a class="nav-link" href="#">PROJECTS</a>
    </li>
    <li class="nav-item dropdown mx-2">
      <a
        class="nav-link"
        href="#"
        role="button"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        PORTFOLIO
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Discography</a>
        <a class="dropdown-item" href="#">Reviews</a>
        <a class="dropdown-item" href="#">Audio / video</a>
        <a class="dropdown-item" href="#">Gallery</a>
        <a class="dropdown-item" href="#">Download</a>
      </div>
    </li>
    <li class="nav-item ml-2">
      <a class="nav-link" href="#">CONTACT</a>
    </li>
  </ul>
</nav>
