<nav class="navbar navbar-expand-lg navbar-light sticky-top px-0 py-2">
  <a class="navbar-brand" href="/">CLARE HAMMOND</a>

  <ul class="navbar-nav ml-auto">
    <li class="nav-item mx-2">
      <a class="nav-link" href="/biography/">BIOGRAPHY</a>
    </li>
    <li class="nav-item mx-2">
      <a class="nav-link" href="/concerts/">CONCERTS</a>
    </li>
    <li class="nav-item mx-2">
      <a class="nav-link" href="/reviews/">REVIEWS</a>
    </li>
    <li class="nav-item mx-2">
      <a class="nav-link" href="/projects/">PROJECTS</a>
    </li>
    <li class="nav-item dropdown mx-2">
      <a
        class="nav-link"
        href="#"
        role="button"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        PORTFOLIO
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/discography/">Discography</a>
        <a class="dropdown-item" href="/audio-video/">Audio / video</a>
        <a class="dropdown-item" href="/gallery/">Gallery</a>
        <a class="dropdown-item" href="/download/">Download</a>
        <div class="dropdown-divider"></div>
        <h6 class="dropdown-header">Repertoire</h6>
        <a class="dropdown-item" href="/repertoire/concerto/">Concerto</a>
        <a class="dropdown-item" href="/repertoire/solo/">Solo</a>
        <a class="dropdown-item" href="/repertoire/chamber/">Chamber</a>
        <a class="dropdown-item" href="/repertoire/contemporary/">Contemporary</a>
        <a class="dropdown-item" href="/repertoire/samples/">Sample programmes</a>
      </div>
    </li>
    <li class="nav-item ml-2">
      <a class="nav-link" href="/contact/">CONTACT</a>
    </li>
  </ul>
</nav>
