<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-white nav-red">
  <div class="container">
    <a class="navbar-brand" href="/">Clare Hammond</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggle">
      <ul class="navbar-nav mb-2 mb-lg-0 mx-auto ms-xl-auto me-xl-0">
        <li class="nav-item mx-1">
          <a class="nav-link text-uppercase fw-normal" href="/biography/">Biography</a>
        </li>
        <li class="nav-item mx-1">
          <a class="nav-link text-uppercase fw-normal" href="/concerts/">Concerts</a>
        </li>
        <li class="nav-item mx-1">
          <a class="nav-link text-uppercase fw-normal" href="/reviews/">Reviews</a>
        </li>
        <li class="nav-item mx-1">
          <a class="nav-link text-uppercase fw-normal" href="/projects/">Projects</a>
        </li>
        <li class="nav-item mx-1 dropdown">
          <a class="nav-link text-uppercase fw-normal dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Portfolio
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <ul class="list-unstyled">
            <li><a class="dropdown-item" href="/discography/">Discography</a></li>
            <li><a class="dropdown-item" href="/audio-video/">Audio / video</a></li>
            <li><a class="dropdown-item" href="/gallery/">Gallery</a></li>
            <li><a class="dropdown-item" href="/download/">Download</a></li>
          </ul>
          <div class="dropdown-divider"></div>
          <h6 class="dropdown-header">Repertoire</h6>
          <ul class="list-unstyled">
            <li><a class="dropdown-item" href="/repertoire/concerto/">Concerto</a></li>
            <li><a class="dropdown-item" href="/repertoire/solo/">Solo</a></li>
            <li><a class="dropdown-item" href="/repertoire/chamber/">Chamber</a></li>
            <li><a class="dropdown-item" href="/repertoire/contemporary/">Contemporary</a></li>
            <li><a class="dropdown-item" href="/static/pdf/repertoire/clare-hammond-sample-programmes.pdf">Sample programmes</a></li>
          </ul>
        </div>
        </li>
        <li class="nav-item mx-1">
          <a class="nav-link text-uppercase fw-normal" href="/contact/">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
