{% extends "base.html" %}
{% load static %}

{% block content %}
{% include "nav.html" %}

<div class="container page__container">

  <div id="{{ page_id }}" class="row page__content px-2">
    {% if main_image %}
      <div class="col-12 col-md-4 col-lg-6">
        <div class="page__image-container">
          <img src="{% static main_image %}" class="w-100 page__image" />
        </div>
      </div>

      <div class="col">
        {% include "content.html" %}
      </div>
    {% else %}
      <div class="col">
        {% include "content.html" %}
      </div>
    {% endif %}
  </div>
</div>
{% endblock %}
