{% extends "base.html" %}
{% load static %}

{% block content %}
{% include "nav.html" %}

<div class="container">

  <div id="{{ page_id }}" class="row">
    {% if main_image %}
      <div class="col-6 pr-5">
        <div class="sticky-top">
          <img src="{% static main_image %}" class="w-100" />
        </div>
      </div>

      <div class="col-6 pl-5">
        {% include "content.html" %}
      </div>
    {% else %}
      <div class="col-12">
        {% include "content.html" %}
      </div>
    {% endif %}
  </div>
</div>
{% endblock %}
