{% for concert in section.concerts %}
  <div class="concert pb-4">
    <header>
      <h4>
        {% if concert.date_details %}
          {{ concert.date_details }},
        {% else %}
          {{ concert.date|date:"l j F" }},
        {% endif %}
        {{ concert.location }}
      </h4>
      <p class="lead">{{ concert.type }}</p>
    </header>

    {% if concert.summary %}
      <p>{{ concert.summary }}</p>
    {% endif %}

    {% if concert.repertoire %}
      <ul>
        {% for item in concert.repertoire %}
          <li><span class="composer-name">{{ item.0 }}</span> - {{ item.1 }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    <p>
      {% if concert.time %}
        {{ concert.time|date:"g.iA"|lower }}.
      {% endif %}
      {% if concert.time_details %}
        {{ concert.time_details }}
      {% endif %}
      {% if concert.address %}
        {{ concert.address }}.
      {% endif %}
    </p>

    {% if concert.details %}
      {% for detail in concert.details %}
        <p>{{ detail }}</p>
      {% endfor %}
    {% endif %}
  </div>
{% endfor %}
