{% load static %}

{% for item in section.items %}
<div class="row pb-4">
  <div class="col-2">
    <a href="{{ item.page_path }}">
      <img
        src="{% static item.image_path %}"
        {% if item.title %}title="{{ item.title }}"{% endif %}
        {% if item.title %}alt="{{ item.title }}"{% endif %}
        class="w-100 img-thumbnail"
      />
    </a>
        </div>
  <div class="col-8">
    {% if item.title %}
    <h2>
      <a href="{{ item.page_path }}">{{ item.title }}</a>
    </h2>
    {% endif %}
    {% if item.details %}
    {{ item.details }}
    {% endif %}
  </div>
</div>
{% endfor %}
